* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Poppins", sans-serif;
}

a {
  text-decoration: none;
  color: unset;
}

li {
  list-style: none !important;
  padding: 0;
  margin: 0;
}

img {
  width: 100%;
  height: 100%;
}

.buttonHover {
  position: relative;
  overflow: hidden;
  z-index: 3;
  color: #fff;
}
.buttonHover::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 0%;
  height: 100%;
  background: #fff;
  z-index: -1;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.buttonHover::before {
  content: "";
  position: absolute;
  right: 0;
  top: 0;
  width: 0%;
  height: 100%;
  background: #fff;
  z-index: -1;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.buttonHover:hover {
  color: #DF6951 !important;
}
.buttonHover:hover::after, .buttonHover:hover::before {
  width: 50%;
}