:root {
  --img-slider-url:url("../../../images/home_background.png");
}

.home-page {
  position: relative;
  z-index: 3;
  overflow: hidden;
}
.home-page .header {
  background-image: var(--img-slider-url);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  color: #fff;
}
.home-page .header .head {
  padding-top: 117px;
  padding-bottom: 59px;
}
@media (max-width: 767px) {
  .home-page .header .head {
    padding-top: 100px;
    padding-bottom: 100px;
  }
}
.home-page .header .head h1 {
  max-width: 630px;
  font-size: 60px;
  font-weight: 700;
  margin-bottom: 60px;
  position: relative;
}
.home-page .header .head h1::after {
  content: url("../../../images/Vector 1.png");
  position: absolute;
  left: 0;
  top: -55px;
}
@media (max-width: 767px) {
  .home-page .header .head h1 {
    font-size: 40px;
  }
}
@media (max-width: 565px) {
  .home-page .header .head h1 {
    font-size: 28px;
  }
}
.home-page .header .head .form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 15px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 5.224px;
  background: rgba(243, 243, 243, 0.6);
  -webkit-backdrop-filter: blur(17.7606182098px);
          backdrop-filter: blur(17.7606182098px);
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 39px 33px 35px;
  cursor: pointer;
  margin-bottom: 50px;
}
.home-page .header .head .form .cont p {
  margin-bottom: 0;
  font-size: 18px;
  font-weight: 400;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 8px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.home-page .header .head .form .submit {
  padding: 17px 57px;
  border-radius: 10px;
  background: #df6951;
  -webkit-box-shadow: 0px 20px 35px 0px rgba(223, 105, 81, 0.15);
          box-shadow: 0px 20px 35px 0px rgba(223, 105, 81, 0.15);
  border: none;
  color: #fff;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
@media (max-width: 767px) {
  .home-page .header .head .form {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .home-page .header .head .form .cont + span {
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
  }
}
.home-page .header .head .people {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 13px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.home-page .header .head .people img {
  max-width: 181px;
}
.home-page .header .head .people h3 {
  margin-bottom: 0;
  font-size: 10px;
  font-weight: 500;
}
@media (max-width: 565px) {
  .home-page .header .head .people {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .home-page .header .head .people h3 {
    font-size: 14px;
  }
}
.home-page .slick-slider {
  text-align: center;
  padding: 50px 0;
  background: #c9c9c9;
}
@media (max-width: 767px) {
  .home-page .slick-slider {
    padding: 30px 0;
  }
}
.home-page .slick-slider .sliderImage {
  max-width: 150px;
  height: 80px;
  outline: none;
}
.home-page .slick-slider .sliderImage.special {
  max-width: 170px;
}
.home-page .slick-slider .sliderImage img {
  -o-object-fit: contain;
     object-fit: contain;
}
.home-page .category {
  margin-bottom: 170px;
}
@media (max-width: 991px) {
  .home-page .category {
    margin-bottom: 100px;
  }
}
.home-page .category .specialHeading {
  text-align: center;
}
.home-page .category .content {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 20px 1fr 20px 1fr 20px 1fr;
  grid-template-columns: repeat(4, 1fr);
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 20px;
}
.home-page .category .content .cont {
  text-align: center;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  position: relative;
  padding: 20px 35px 44px;
}
.home-page .category .content .cont .image {
  max-width: 72px;
  margin: 0 auto;
  position: relative;
  z-index: 3;
  margin-bottom: 29px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.home-page .category .content .cont .image::after {
  content: url("../../../images/Rectangle 157.png");
  position: absolute;
  right: 0;
  bottom: 0;
  width: 40px;
  height: 40px;
  z-index: -1;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.home-page .category .content .cont h4 {
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 12px;
  color: #1E1D4C;
}
.home-page .category .content .cont p {
  font-size: 16px;
  font-weight: 500;
  color: #5E6282;
  line-height: 26px;
  margin-bottom: 0;
}
.home-page .category .content .cont:hover {
  background: #fff;
  border-radius: 36px;
  -webkit-box-shadow: 0px 1.8518518209px 3.1481480598px 0px rgba(0, 0, 0, 0), 0px 8.1481485367px 6.5185184479px 0px rgba(0, 0, 0, 0.01), 0px 20px 13px 0px rgba(0, 0, 0, 0.01), 0px 38.5185203552px 25.4814815521px 0px rgba(0, 0, 0, 0.01), 0px 64.8148117065px 46.851852417px 0px rgba(0, 0, 0, 0.02), 0px 100px 80px 0px rgba(0, 0, 0, 0.02);
          box-shadow: 0px 1.8518518209px 3.1481480598px 0px rgba(0, 0, 0, 0), 0px 8.1481485367px 6.5185184479px 0px rgba(0, 0, 0, 0.01), 0px 20px 13px 0px rgba(0, 0, 0, 0.01), 0px 38.5185203552px 25.4814815521px 0px rgba(0, 0, 0, 0.01), 0px 64.8148117065px 46.851852417px 0px rgba(0, 0, 0, 0.02), 0px 100px 80px 0px rgba(0, 0, 0, 0.02);
}
.home-page .category .content .cont:hover::after {
  display: initial;
}
.home-page .category .content .cont:hover .image::after {
  right: unset;
  bottom: unset;
  left: -15px;
  top: -10px;
}
@media (min-width: 991px) and (max-width: 1200px) {
  .home-page .category .content .cont {
    padding: 20px 0px 44px;
  }
}
@media (max-width: 991px) {
  .home-page .category .content {
    -ms-grid-columns: (1fr)[2];
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 767px) {
  .home-page .category .content .cont {
    padding: 20px 0px 44px;
  }
}
@media (max-width: 567px) {
  .home-page .category .content {
    -ms-grid-columns: 1fr;
    grid-template-columns: repeat(1, 1fr);
    max-width: 300px;
    margin: 0 auto;
    gap: 30px;
  }
}
.home-page .honeymoon-specials, .home-page .promotion {
  margin-bottom: 170px;
}
@media (max-width: 991px) {
  .home-page .honeymoon-specials, .home-page .promotion {
    margin-bottom: 70px;
  }
}
.home-page .honeymoon-specials .specialHeading, .home-page .promotion .specialHeading {
  margin-top: 0;
}
@media (max-width: 1200px) {
  .home-page .honeymoon-specials .specialHeading, .home-page .promotion .specialHeading {
    margin-bottom: 20px;
  }
  .home-page .honeymoon-specials .specialHeading h3, .home-page .promotion .specialHeading h3 {
    font-size: 35px;
  }
}
@media (max-width: 500px) {
  .home-page .honeymoon-specials .specialHeading h3, .home-page .promotion .specialHeading h3 {
    font-size: 24px;
  }
}
.home-page .honeymoon-specials .content, .home-page .promotion .content {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 30px 1fr;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
@media (max-width: 991px) {
  .home-page .honeymoon-specials .content, .home-page .promotion .content {
    -ms-grid-columns: 1fr;
    grid-template-columns: repeat(1, 1fr);
    gap: 50px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
.home-page .honeymoon-specials .content .image, .home-page .promotion .content .image {
  max-width: 650px;
  position: relative;
  z-index: 1;
  margin: 0 auto;
}
@media (max-width: 767px) {
  .home-page .honeymoon-specials .content .image, .home-page .promotion .content .image {
    max-width: 500px;
  }
}
.home-page .honeymoon-specials .content .image::after, .home-page .promotion .content .image::after {
  content: url("../../../images/Background Element.png");
  position: absolute;
  right: -30px;
  bottom: -30px;
  width: 150px;
  height: 150px;
  z-index: -1;
}
.home-page .honeymoon-specials .content .text p, .home-page .promotion .content .text p {
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 31px;
  line-height: 26px;
  color: #000;
}
@media (max-width: 500px) {
  .home-page .honeymoon-specials .content .text p, .home-page .promotion .content .text p {
    font-size: 14px;
  }
}
.home-page .honeymoon-specials .content .text button, .home-page .promotion .content .text button {
  padding: 15px 30px;
  color: #fff;
  border: none;
  border-radius: 10px;
  background: #df6951;
}
.home-page .honeymoon-specials .content .text button:hover, .home-page .promotion .content .text button:hover {
  border: 1px solid #df6951;
}
.home-page .fast-safarya .safar-content {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
  grid-template-columns: repeat(2, 1fr);
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.home-page .fast-safarya .safar-content .left .specialHeading {
  margin: 0 0 30px;
}
.home-page .fast-safarya .safar-content .left .content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 30px;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
.home-page .fast-safarya .safar-content .left .content .cont {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 20px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 400px;
}
.home-page .fast-safarya .safar-content .left .content .cont .icon {
  max-width: 60px;
}
.home-page .fast-safarya .safar-content .left .content .cont .text {
  color: #5E6282;
}
.home-page .fast-safarya .safar-content .left .content .cont .text h5 {
  font-size: 16px;
  font-weight: 700;
  margin-bottom: 0;
}
.home-page .fast-safarya .safar-content .left .content .cont .text p {
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 0;
}
.home-page .fast-safarya .safar-content .image {
  max-width: 900px;
  width: 100%;
  -webkit-transform: scale(1.3);
          transform: scale(1.3);
}
.home-page .fast-safarya .safar-content .image img {
  -o-object-fit: cover;
     object-fit: cover;
}
@media (max-width: 991px) {
  .home-page .fast-safarya .safar-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    gap: 40px;
  }
  .home-page .fast-safarya .safar-content .image {
    -webkit-transform: scale(1.5);
            transform: scale(1.5);
  }
}
.home-page .banner, .home-page .two-images {
  padding: 160px 0;
  margin: 50px 0;
  background: url("../../../images/Rectangle 19294.png");
  background-position: center;
  background-repeat: no-repeat;
  color: #fff;
}
@media (max-width: 991px) {
  .home-page .banner, .home-page .two-images {
    background-position: 68% 0;
  }
}
.home-page .banner h1, .home-page .two-images h1 {
  position: relative;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  text-transform: capitalize;
  font-family: "Volkhov";
  margin-bottom: 0;
}
.home-page .banner h1 span, .home-page .two-images h1 span {
  position: relative;
}
.home-page .banner h1 span .image, .home-page .two-images h1 span .image {
  position: absolute;
  right: 0;
  bottom: -22px;
  max-width: 300px;
}
.home-page .promotion {
  margin: 150px 0 !important;
  position: relative;
  color: #fff;
}
.home-page .promotion .content .left {
  padding-bottom: 292px;
}
@media (max-width: 991px) {
  .home-page .promotion .content .left {
    padding-bottom: 0;
  }
}
.home-page .promotion .content .left p {
  color: #000;
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 30px;
  max-width: 570px;
}
.home-page .promotion .content .left button {
  padding: 10px 20px;
  background: #df6951;
  color: #fff;
  border: none;
  border-radius: 4px;
  margin-bottom: 10px;
}
.home-page .promotion .content .left button:hover {
  border: 1px solid;
}
.home-page .promotion .content .image {
  max-width: 570px !important;
  -webkit-filter: brightness(0.8);
          filter: brightness(0.8);
}
@media (max-width: 767px) {
  .home-page .promotion .content .image {
    max-width: 400px !important;
  }
}
.home-page .promotion .images {
  bottom: 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 20px;
  z-index: 3;
  margin-top: -250px;
  position: relative;
}
.home-page .promotion .images .cont {
  position: relative;
  max-width: 200px;
}
@media (max-width: 991px) {
  .home-page .promotion .images .cont:nth-child(even) {
    margin-right: auto;
  }
  .home-page .promotion .images .cont:nth-child(odd) {
    margin-left: auto;
  }
}
.home-page .promotion .images .cont .badge {
  position: absolute;
  right: 10px;
  top: 10px;
  background: tomato;
  padding: 8px 12px;
}
@media (max-width: 767px) {
  .home-page .promotion .images {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[2];
    grid-template-columns: repeat(2, 1fr);
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
@media (max-width: 400px) {
  .home-page .promotion .images {
    -ms-grid-columns: (1fr)[2];
    grid-template-columns: repeat(2, 1fr);
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-top: 35px;
  }
  .home-page .promotion .images .cont {
    max-width: 150px;
  }
}
@media (max-width: 991px) {
  .home-page .promotion {
    margin: 70px 0 150px !important;
  }
}
@media (max-width: 767px) {
  .home-page .promotion {
    margin: 70px 0 70px !important;
  }
}
.home-page .two-images {
  background: unset !important;
  padding: 0 !important;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
  grid-template-columns: repeat(2, 1fr);
  margin: 50px 0 0 !important;
}
.home-page .two-images .cont {
  text-align: center;
  padding: 120px 0;
  position: relative;
}
.home-page .two-images .cont::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(30, 30, 30, 0.38);
  z-index: -1;
}
.home-page .two-images .cont:first-child {
  background: url("../../../images/Rectangle 19301.png");
  background-position: center;
  background-repeat: no-repeat;
  z-index: 3;
}
.home-page .two-images .cont:last-child {
  background: url("../../../images/Rectangle 19302.png");
  background-position: center;
  background-repeat: no-repeat;
  z-index: 3;
}
.home-page .two-images .cont h3 {
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 10px;
}
.home-page .two-images .cont h4 {
  font-size: 50px;
  font-weight: 700;
  margin-bottom: 20px;
}
.home-page .two-images .cont button {
  width: -webkit-fit-content !important;
  width: -moz-fit-content !important;
  width: fit-content !important;
  margin: 0 auto;
  padding: 12px 15px;
  border: none;
  background: #df6951;
  color: #fff;
  border-radius: 4px;
}
@media (max-width: 991px) {
  .home-page .two-images {
    -ms-grid-columns: (1fr)[1];
    grid-template-columns: repeat(1, 1fr);
  }
  .home-page .two-images .cont {
    padding: 80px 0 !important;
  }
  .home-page .two-images .cont:first-child {
    display: none;
  }
}
.home-page .trendy {
  margin-bottom: 100px;
}
.home-page .trendy .specialHeading {
  text-align: center;
}
.home-page .trendy .content {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 10px 1fr 10px 1fr;
  grid-template-columns: repeat(3, 1fr);
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 10px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.home-page .trendy .content .cont {
  max-width: 360px;
}
.home-page .trendy .content .cont .image {
  max-width: 390px;
  position: relative;
}
.home-page .trendy .content .cont .image .patch {
  position: absolute;
  left: 20px;
  bottom: -60px;
  width: 100px;
  height: 100px;
}
.home-page .trendy .content .cont .text .top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 35px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 34px 0 0;
}
.home-page .trendy .content .cont .text .top .con {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 8px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.home-page .trendy .content .cont .text .top .con svg {
  color: #7D7D7D;
  width: 20px;
  height: 20px;
}
.home-page .trendy .content .cont .text .top .con span {
  font-size: 17px;
  font-weight: 400;
}
.home-page .trendy .content .cont .text .middle h1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 8px 0 2px;
}
.home-page .trendy .content .cont .text .middle h1 span {
  font-size: 30px;
  font-weight: 700;
  color: #2F2F2F;
}
.home-page .trendy .content .cont .text .middle h1 .stars {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 5px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.home-page .trendy .content .cont .text .middle h1 .stars svg {
  color: #FFBA0A;
}
.home-page .trendy .content .cont .text .middle h1 + .con {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 4px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.home-page .trendy .content .cont .text .middle h1 + .con svg {
  color: #7D7D7D;
  width: 20px;
  height: 20px;
}
.home-page .trendy .content .cont .text .middle h1 + .con span {
  font-size: 17px;
  font-weight: 400;
}
.home-page .trendy .content .cont .text .middle .price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 21px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 17px 0 7px;
}
.home-page .trendy .content .cont .text .middle .price h3 {
  color: #df6951;
  margin-bottom: 0;
  font-size: 30px;
  font-weight: 500;
}
.home-page .trendy .content .cont .text .middle .price del {
  color: #7D7D7D;
  font-size: 22px;
  font-weight: 500;
}
.home-page .trendy .content .cont .text .middle p {
  font-size: 12px;
  font-weight: 400;
  margin-bottom: 21px;
  max-width: 390px;
  color: #000;
}
@media (max-width: 991px) {
  .home-page .trendy .content {
    -ms-grid-columns: 1fr 20px 1fr;
    grid-template-columns: repeat(2, 1fr);
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 20px;
  }
  .home-page .trendy .content .cont {
    margin: 0 auto;
  }
}
@media (max-width: 767px) {
  .home-page .trendy .content {
    -ms-grid-columns: 1fr;
    grid-template-columns: repeat(1, 1fr);
    gap: 50px;
  }
}

.home-popup {
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: 99;
  background: #fff;
  border-radius: 12px;
  max-width: 540px;
  -webkit-box-shadow: 0 0 5px #5E6282;
          box-shadow: 0 0 5px #5E6282;
  margin: 0 auto;
  padding: 39px;
}
.home-popup .close-dateTable {
  position: absolute;
  right: 10px;
  top: 10px;
  width: 30px;
  border-radius: 50%;
  height: 30px;
  background: #1E1D4C;
  color: #fff;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  border: none;
}
.home-popup .close-dateTable:hover {
  background: #df6951;
}
.home-popup .close-dateTable .date-table {
  background: #fff;
  -webkit-box-shadow: 0 0 2px #bcb8b8;
          box-shadow: 0 0 2px #bcb8b8;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 8px;
}
.home-popup h2 {
  text-align: center;
  font-family: "Volkhov";
  font-size: 28px;
  font-weight: 700;
  margin-bottom: 28px;
  color: #181E4B;
}
.home-popup input {
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
  border-color: #cdcccc !important;
  font-size: 20px;
  font-weight: 400;
  color: #1E1D4C;
  padding: 10px 0;
}
.home-popup label {
  font-size: 12px;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.59);
}
.home-popup .date-range-people {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 5px;
  border: 0.578px solid #000;
  padding: 12px 21px;
  border-radius: 6px;
  position: relative;
  margin-bottom: 21px;
}
.home-popup .date-range-people + h4 {
  color: #df6951;
  font-size: 12px;
  font-weight: 600;
  margin-bottom: 18px;
  cursor: pointer;
}
.home-popup .date-range-people .date, .home-popup .date-range-people .people {
  border-right: 1px solid #000;
  padding: 8px;
}
.home-popup .date-range-people .date small, .home-popup .date-range-people .people small {
  font-size: 12px;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.5882352941);
}
.home-popup .date-range-people .date .dates, .home-popup .date-range-people .people .dates {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 5px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}
.home-popup .date-range-people .date .dates h3, .home-popup .date-range-people .people .dates h3 {
  font-size: 25px;
  font-weight: 400;
  margin-bottom: 0;
  color: #1E1D4C;
}
.home-popup .date-range-people .date .dates h5, .home-popup .date-range-people .people .dates h5 {
  font-size: 12px;
  font-weight: 400;
  margin-bottom: 0;
  color: rgba(0, 0, 0, 0.5882352941);
}
.home-popup .date-range-people .people {
  border-right: none;
}
.home-popup .date-range-people .people select {
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
  border: none;
  cursor: pointer;
}
.home-popup .checkboxes {
  margin-top: 19px;
  margin-bottom: 37px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 8px 1fr 8px 1fr 8px 1fr;
  grid-template-columns: repeat(4, 1fr);
  gap: 8px;
}
.home-popup .checkboxes label {
  font-size: 12px;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.59);
  -webkit-transform: translateY(3px);
          transform: translateY(3px);
  cursor: pointer;
}
.home-popup .checkboxes .form-check-input:checked {
  background-color: #df6951 !important;
}
.home-popup .buttonHover {
  width: 100%;
}