:root {
  --img-slider-url:url("../../../images/home_background.png");
}

.home-page {
  color: #fff;
  position: relative;
  z-index: 3;
  overflow: hidden;
}
.home-page .header {
  background-image: var(--img-slider-url);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
.home-page .header .head {
  padding-top: 117px;
  padding-bottom: 59px;
}
@media (max-width: 767px) {
  .home-page .header .head {
    padding-top: 100px;
    padding-bottom: 100px;
  }
}
.home-page .header .head h1 {
  max-width: 630px;
  font-size: 60px;
  font-weight: 700;
  margin-bottom: 60px;
  position: relative;
}
.home-page .header .head h1::after {
  content: url("../../../images/Vector 1.png");
  position: absolute;
  left: 0;
  top: -55px;
}
@media (max-width: 767px) {
  .home-page .header .head h1 {
    font-size: 40px;
  }
}
@media (max-width: 565px) {
  .home-page .header .head h1 {
    font-size: 28px;
  }
}
.home-page .header .head .form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 15px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 5.224px;
  background: rgba(243, 243, 243, 0.6);
  -webkit-backdrop-filter: blur(17.7606182098px);
          backdrop-filter: blur(17.7606182098px);
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 39px 33px 35px;
  cursor: pointer;
  margin-bottom: 50px;
}
.home-page .header .head .form .cont p {
  margin-bottom: 0;
  font-size: 18px;
  font-weight: 400;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 8px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.home-page .header .head .form .submit {
  padding: 17px 57px;
  border-radius: 10px;
  background: #df6951;
  -webkit-box-shadow: 0px 20px 35px 0px rgba(223, 105, 81, 0.15);
          box-shadow: 0px 20px 35px 0px rgba(223, 105, 81, 0.15);
  border: none;
  color: #fff;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
@media (max-width: 767px) {
  .home-page .header .head .form {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .home-page .header .head .form .cont + span {
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
  }
}
.home-page .header .head .people {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 13px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.home-page .header .head .people img {
  max-width: 181px;
}
.home-page .header .head .people h3 {
  margin-bottom: 0;
  font-size: 10px;
  font-weight: 500;
}
@media (max-width: 565px) {
  .home-page .header .head .people {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .home-page .header .head .people h3 {
    font-size: 14px;
  }
}
.home-page .slick-slider {
  text-align: center;
  padding: 50px 0;
  background: #c9c9c9;
}
@media (max-width: 767px) {
  .home-page .slick-slider {
    padding: 30px 0;
  }
}
.home-page .slick-slider .sliderImage {
  max-width: 150px;
  height: 80px;
  outline: none;
}
.home-page .slick-slider .sliderImage.special {
  max-width: 170px;
}
.home-page .slick-slider .sliderImage img {
  -o-object-fit: contain;
     object-fit: contain;
}
.home-page .category {
  margin-bottom: 170px;
}
@media (max-width: 991px) {
  .home-page .category {
    margin-bottom: 100px;
  }
}
.home-page .category .specialHeading {
  text-align: center;
}
.home-page .category .content {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 20px 1fr 20px 1fr 20px 1fr;
  grid-template-columns: repeat(4, 1fr);
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 20px;
}
.home-page .category .content .cont {
  text-align: center;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  position: relative;
  padding: 20px 35px 44px;
}
.home-page .category .content .cont .image {
  max-width: 72px;
  margin: 0 auto;
  position: relative;
  z-index: 3;
  margin-bottom: 29px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.home-page .category .content .cont .image::after {
  content: url("../../../images/Rectangle 157.png");
  position: absolute;
  right: 0;
  bottom: 0;
  width: 40px;
  height: 40px;
  z-index: -1;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.home-page .category .content .cont h4 {
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 12px;
  color: #1E1D4C;
}
.home-page .category .content .cont p {
  font-size: 16px;
  font-weight: 500;
  color: #5E6282;
  line-height: 26px;
  margin-bottom: 0;
}
.home-page .category .content .cont:hover {
  background: #fff;
  border-radius: 36px;
  -webkit-box-shadow: 0px 1.8518518209px 3.1481480598px 0px rgba(0, 0, 0, 0), 0px 8.1481485367px 6.5185184479px 0px rgba(0, 0, 0, 0.01), 0px 20px 13px 0px rgba(0, 0, 0, 0.01), 0px 38.5185203552px 25.4814815521px 0px rgba(0, 0, 0, 0.01), 0px 64.8148117065px 46.851852417px 0px rgba(0, 0, 0, 0.02), 0px 100px 80px 0px rgba(0, 0, 0, 0.02);
          box-shadow: 0px 1.8518518209px 3.1481480598px 0px rgba(0, 0, 0, 0), 0px 8.1481485367px 6.5185184479px 0px rgba(0, 0, 0, 0.01), 0px 20px 13px 0px rgba(0, 0, 0, 0.01), 0px 38.5185203552px 25.4814815521px 0px rgba(0, 0, 0, 0.01), 0px 64.8148117065px 46.851852417px 0px rgba(0, 0, 0, 0.02), 0px 100px 80px 0px rgba(0, 0, 0, 0.02);
}
.home-page .category .content .cont:hover::after {
  display: initial;
}
.home-page .category .content .cont:hover .image::after {
  right: unset;
  bottom: unset;
  left: -15px;
  top: -10px;
}
@media (min-width: 991px) and (max-width: 1200px) {
  .home-page .category .content .cont {
    padding: 20px 0px 44px;
  }
}
@media (max-width: 991px) {
  .home-page .category .content {
    -ms-grid-columns: (1fr)[2];
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 767px) {
  .home-page .category .content .cont {
    padding: 20px 0px 44px;
  }
}
@media (max-width: 567px) {
  .home-page .category .content {
    -ms-grid-columns: 1fr;
    grid-template-columns: repeat(1, 1fr);
    max-width: 300px;
    margin: 0 auto;
    gap: 30px;
  }
}
.home-page .honeymoon-specials {
  margin-bottom: 170px;
}
@media (max-width: 767px) {
  .home-page .honeymoon-specials {
    margin-bottom: 100px;
  }
}
.home-page .honeymoon-specials .specialHeading {
  margin-top: 0;
}
@media (max-width: 1200px) {
  .home-page .honeymoon-specials .specialHeading {
    margin-bottom: 20px;
  }
  .home-page .honeymoon-specials .specialHeading h3 {
    font-size: 35px;
  }
}
@media (max-width: 500px) {
  .home-page .honeymoon-specials .specialHeading h3 {
    font-size: 24px;
  }
}
.home-page .honeymoon-specials .content {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 30px 1fr;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
@media (max-width: 991px) {
  .home-page .honeymoon-specials .content {
    -ms-grid-columns: 1fr;
    grid-template-columns: repeat(1, 1fr);
    gap: 50px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
.home-page .honeymoon-specials .content .image {
  max-width: 650px;
  position: relative;
  z-index: 1;
  margin: 0 auto;
}
@media (max-width: 767px) {
  .home-page .honeymoon-specials .content .image {
    max-width: 500px;
  }
}
.home-page .honeymoon-specials .content .image::after {
  content: url("../../../images/Background Element.png");
  position: absolute;
  right: -30px;
  bottom: -30px;
  width: 150px;
  height: 150px;
  z-index: -1;
}
.home-page .honeymoon-specials .content .text p {
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 31px;
  line-height: 26px;
  color: #000;
}
@media (max-width: 500px) {
  .home-page .honeymoon-specials .content .text p {
    font-size: 14px;
  }
}
.home-page .honeymoon-specials .content .text button {
  padding: 15px 30px;
  color: #fff;
  border: none;
  border-radius: 10px;
  background: #df6951;
}
.home-page .honeymoon-specials .content .text button:hover {
  border: 1px solid #df6951;
}