*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body{
  font-family: 'Poppins', sans-serif;
  // background: #333;
  // position: relative;
}
::selection{
  background: #df6951;
  color: #fff;
}
::-webkit-scrollbar{
  background: #181433;
  width: 8px;
}
::-webkit-scrollbar-thumb{
  border: 3px solid #df6951;
  background: transparent;
  border-radius: 30px;
}
a{
  text-decoration: none;
  color: unset;
}
li{
  list-style: none !important;
  padding: 0;
  margin: 0;
}
img{
  width: 100%;
  height: 100%;
}
// button hover style
.buttonHover{
  position: relative;
  overflow: hidden;
  z-index: 3;
  color: #fff;
  padding: 10px 20px;
  background: #df6951;
  color: #fff;
  border: none;
  border-radius: 4px;
  margin-bottom: 10px;
  &::after{
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 0%;
    height: 100%;
    background: #fff;
    z-index: -1;
    transition: 0.3s;
  }
  &::before{
    content: '';
    position: absolute;
    right: 0;
    top: 0;
    width: 0%;
    height: 100%;
    background: #fff;
    z-index: -1;
    transition: 0.3s;
  }
  &:hover{
    color: #DF6951 !important;
    border: 1px solid;
    &::after , &::before{
      width: 50%;
    }
  }
}
// heading style
.specialHeading{
  margin: 100px 0 40px;
  h4{
    color: #DF6951;
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 20px;
    text-transform: uppercase;
  }
  h3{
    font-family: 'Volkhov', serif;
    font-size: 50px;
    font-weight: 700;
    margin-bottom: 0;
    color: #181E4B;
  }
  @media (max-width : 767px){
    h3{
      font-size: 40px;
    }
  }
  @media (max-width : 567px){
    h3{
      font-size: 28px;
    }
  }
}
.promotion-slider{
  background: url("/src/assets/images/h1-background-img-1 1.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
  z-index: 3;
  padding: 0px 0 100px;
  @media(max-width : 991px){
    background-position: left !important;
  }
  &::after{
    content: url('../../../images/Travel_Concepts_2 1.png');
    position: absolute;
    left: 0;
    bottom: -10px;
    width: 300px;
    z-index: -1;
    @media(max-width : 400px){
      left: -50px;
      // display: none;
    }
  }
  .specialHeading{
    text-align: center;
    padding: 200px 0 0;
    margin-top: 0;
    @media (max-width : 500px){
      padding: 150px 0 0;
    }
  }
  .slick-slider{
    background: #fff !important;
    padding: 0px 73px 33px;
    max-width: 540px;
    margin: 0 auto;
    border-radius: 17px;
    box-shadow: 0 0 5px #df695145;
    @media (max-width : 670px){
      padding: 0 16px 33px;
    }
    .slick-prev{
      left: -26px;
    }
    .slick-next{
      right: -26px;
    }
    .slick-prev, .slick-next{
      width: 60px;
      height: 60px;
      border-radius: 50%;
      background: #737373;
      @media (max-width : 670px){
        display: none !important;
      }
    }
    .opinion{
      .image{
        max-width: 120px;
        border-radius: 100%;
        margin: 0 auto;
        // overflow: hidden;
        // height: 120px;
        // padding: 20px;
        // margin-top: -40px;
      }
      p{
        font-size: 12px;
        font-weight: 400;
        margin-bottom: 13px;
        position: relative;
        svg{
          position: absolute;
          left: -5px;
          top: -40px;
          width: 60px;
        }
        @media (max-width : 400px){
          font-size: 10px;
        }
      }
      h4{
        margin-bottom: 0;
        font-size: 12px;
        font-weight: 700;
        color: #000;
      }
    }
  }
}
.footer{
  position: relative;
  &::after{
    content: url('../../../images/Footer img.png');
    position: absolute;
    right: 0;
    bottom: 0;
  }
  .top{
    padding: 100px 0 59px;
    @media (max-width : 767px){
      padding: 50px 0 30px;
    }
    .content{
      display: grid;
      grid-template-columns: repeat( 4 , 1fr);
      justify-content: space-between;
      align-items: center;
      .cont{
        .logo{
          max-width: 130px;
          +p{
            font-size: 16px;
            font-weight: 500;
            color: #757095;
            margin-bottom: 31px;
          }
        }
        .links{
          display: flex;
          flex-direction: row;
          gap: 16px;
          align-items: center;
          a{
            svg{
              fill: #df6951;
              transition: 0.3s;
            }
            &:hover{
              svg{
                fill: #181433 !important;
              }
            }
          }
        }
        h6{
          font-size: 21px;
          font-weight: 700;
          color: #181433;
          margin-bottom: 24px;
        }
        ul{
          list-style: none;
          padding: 0;
          margin: 0;
          display: flex;
          flex-direction: column;
          gap: 18px;
          li{ 
            a{
              font-size: 16px;
              font-weight: 500;
              color: #181433;
              position: relative;
              &::after{
                content: '';
                position: absolute;
                left: 0;
                bottom: -5px;
                height: 2px;
                width: 0%;
                background: #df6951;
                transition: 0.3s;
              }
              &::before{
                content: '';
                position: absolute;
                right: 0;
                top: -5px;
                height: 2px;
                width: 0%;
                background: #df6951;
                transition: 0.3s;
              }
              &:hover{
                color: #df6951;
                &::after , &::before{
                  width: 100%;
                }
              }
            }
          }
        }
        .input{
          display: flex;
          flex-direction: row;
          align-items: center;
          width: 100%;
          margin-bottom: 21px;
          @media (max-width:400px){
            flex-direction: column;
            gap: 10px;
            align-items: flex-start;
            input{
              width: 100%;
            }   
            button{
              width: 100%;
              margin-left: 0 !important;
            }
          }
          input{
            height: 52px;
            padding: 14px 0 15px 14px;
            outline: none;
            background: #EEEEFF;
            outline: none;
            border: none;
            border-radius: 3px;
            &::placeholder{
              font-size: 13px;
              font-weight: 400;
              color: #181E4B;
            }
          }
          button{
            margin: 0;
            padding: 12px 20px;
            margin-left: -12px;
          }
        }
      }
      @media (max-width : 991px){
        grid-template-columns: repeat(2 , 1fr);
        gap: 50px;
      }
      @media (max-width : 600px){
        grid-template-columns: repeat(1 , 1fr);
        gap: 50px;
      }
    }
  }
  .bottom{
    padding: 40px 0 44px;
    text-align: center;
    h5{
      font-size: 16px;
      font-weight: 500;
      margin-bottom: 0;
    }
  }
}